.sliderWrap {
    display: flex;
    width: 500px;
    height: 100px;
    border: none;
    outline: none;
    background: pink;
    justify-content: space-between;
    align-items: center;
}

.sliderbutton{

}